.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Columns*/
.container .row .col {
  /*margin-bottom: 50px;*/

}


#validation-message {
  /*display: inline-block;*/
  padding-left: 2em;
  margin-top: 0.5em;
  background-color: #e2582266;
  font-size: small;
  font-family: Courier, serif;
}

.annotation {
  /*max-height: 550px;*/
  overflow-y: auto;
  max-width: 100%;
  overflow-x: auto;
}

.react-transform-wrapper {
  /*max-height: 550px;*/
  /*overflow: scroll !important;*/
  /*max-width: 100%;*/
  transform-origin: top left;
}

.placeholder {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 3px;
  margin-right: 5px;
  font-family: Helvetica, serif;
  background-color: #6bb89b;
  opacity: 1;
  cursor: auto;
  /*cursor: grab;*/
}

/*.placeholder:active {*/
/*  cursor: grabbing;*/
/*}*/

.cm-editor.cm-focused {
  outline: none !important;
}