.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Columns*/
.container .row .col {
  /*margin-bottom: 50px;*/

}

/*Quill numbering*/

.ql-editor {
  counter-reset: line;
  padding-left: 0;
  overflow: auto;
  max-height: 70vh;
  min-height: 70vh;
}

.ql-editor p:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888;
  width: 40px;
  text-align: right;
}

#validation-message {
  display: inline-block;
  margin-left: 1.5em;
  margin-top: 0.5em;
  background-color: coral;
  font-size: small;
}